@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$fuente_principal: "Poppins", sans-serif;

// Colores
$blanco: white;
$blanco-humo: whitesmoke;
$negro: black;
$gris: gray;
$gris-claro: rgb(205, 204, 204);
$azul-claro: #E9F1FA;
$azul-brillante: #00ABE4;